# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# Cache
.npm
.eslintcache
.stylelintcache

# Images and large assets not to be tracked
/public/images
/public/assets
*.psd
*.ai
*.sketch

# Local Netlify folder
.netlify

# Temporary files
*.tmp
*.temp
.cache/
